@charset "UTF-8";
/*
Them Name: CINO wordpress them
Author: 3A - Eason
Version: 1.0
 */

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* clearfix setting */
.clearfix:before,
.clearfix:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}
/* clearfix setting end */

/* body setting */
body{
  font-family: Arial;
  background-image: url(images/bg.png);
  background-color: #DBDBDB;
  font-size: 14px;
  color: #6C6C6C;
}

p{
  margin: 0;
  padding: 0;
  line-height: 20px;
}

a{
  text-decoration: none;
}

h2{
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
}

h3{
  color: #313131;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);
}

h2, h3{
  font-weight: normal;
  font-size: 18px;
}

.pull_left{
  float: left;
}

.pull_right{
  float: right;
}
/* body setting end */

/* main wrapper settting */
section.wrapper{
	width: 100%;
}
/* main wrapper setting end */

/* header wrapper color */
section.header_wrapper{
  background-color: #ABABAB;
}
/* header wrapper end */

/* header start */
header{
  width: 950px;
  margin: 0px auto;
  padding: 20px 0;
}

header .logo{
  float: left;
  width: 220px;
  height: 60px;
  background: url(images/logo.png) no-repeat;
  text-indent: -9999px;
}
/* header end */

/* nav start */
nav{
  float: right;
}

nav ul{
  list-style: none;
}

nav ul li{
  float: left;
  padding: 0 8px;
  line-height: 26px;
  font-size: 16px;
  color: #313131;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);
  border-right: 1px solid #212121;
}

nav ul li:last-of-type{
  border-right: 0;
}

nav ul li a,
nav ul li a:link,
nav ul li a:visited{
  color: #212121;
}

nav ul li a:hover,
nav ul li.current-menu-item a:link,
nav ul li.current-menu-item a:visited{
  color: #fff;
  text-shadow: none;
}
/* nav end */

/* slider start */
.slider,
.slider img{
  width: inherit;
  height: 500px;
}
/* slider end */

/* home body wrapper start */
section.home_body_wrapper{
  width: 950px;
  margin: 20px auto;
}
/* body wrapper end */

/* default body wrapper start */
section.default_body_wrapper{
  width: 950px;
  margin: 50px auto;
}
/* default wrapper end */

/* homne body item start */
.body_items{
  float: left;
  width: 230px;
  margin-right: 10px;
}

.body_items:last-of-type{
  margin-right: 0;
}

.body_items .item_thumbnail{
  width: inherit;
  height: 200px;
}

.body_items .item_box{
  background: #EAEAEA;
  padding: 0 15px;
}

.item_box .item_title{
  height: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.item_box .item_title a,
.item_box .item_title a:link,
.item_box .item_title a:visited{
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

.item_box .item_title a:hover{
  text-decoration: underline;
}

.item_box .item_more{
  padding-top: 20px;
  padding-bottom: 20px;
}

.item_box .item_more a,
.item_box .item_more a:link,
.item_box .item_more a:visited{
  font-size: 14px;
  color: #fff;
  padding: 5px;
  background-color: #494949;
}

.item_box .item_more a:hover{
  color: #E95144;
}
/* body item end */

/* footer wrapper color */
section.footer_wrapper{
  background-color: #6C6C6C;
}
/* footer wrapper end */

/* footer start */
footer{
  width: 950px;
  margin: 0px auto;
  padding: 40px 0;
}

footer .footer_items{
  float: left;
  padding-right: 35px;
}

footer .footer_items:last-of-type{
  padding-right: 0;
}

footer .footer_items .footer_link{
  width: 271px;
}

footer .footer_items .footer_link p,
footer .footer_items .footer_link p:link,
footer .footer_items .footer_link p:visited,
footer .footer_items .footer_link a,
footer .footer_items .footer_link a:link,
footer .footer_items .footer_link a:visited{
  color: #fff;
}

footer .footer_items .footer_link p:hover,
footer .footer_items .footer_link a:hover{
  text-decoration: underline;
}

footer .footer_items p{
  font-size: 14px;
  color: #fff;
}
/* footer end */

/* copyright start */
.copyright{
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
}
.copyright a{
  color: #6C6C6C;
}
/* copyright end */

/* ================================================================== */

/* about us start */
/* about us article start */
article.about_us{
  padding: 0 150px;
  text-align: justify;
}
/* about us article end */
/* about us end */

/* contact us start */
/* contact us address start */
address{
  float: left;
  width: 50%
}
/* contact us address end */

/* contact form start */
.contact_form{
  float: left;
  width: 50%;
}
/* contact form end*/
/* contact us end*/

/* price start */
/* price label start */
article.price_box{
  float: left;
  width: 343px;
}

.price_content{
  float: right;
}
/* price label end*/

/* price label start*/
.price_label{
  width: 343px;
  height: 84px;
  margin-bottom: 20px;
  background: url(images/label.png) no-repeat;
}
/* price label end*/

/* room price start*/
.room,
.room p,
.room_price{
  width: inherit;
  height: 42px;
  text-align: center;
  line-height: 50px;
}

.price{
  font-size: 18px;
  color: #6C6C6C;
}
/* room price end*/
/* price end*/

/* testimonials start */
/* portrait start*/
article.testimonials{
  margin-bottom: 30px;
}

.portrait{
  float: left;
  width: 100px;
  height: 76px;
  background: url(images/portrait.png) no-repeat left bottom;
}
/* portrait end*/

/* des start */
.des{
  float: left;
  width: 828px;
  padding: 10px;
  border: 1px solid #6C6C6C;
}
/* des end*/
/* testimonials end */

/* gallery start*/
/* gallery wrapper start */
.gallery_box{
  margin-right: -25px;
}
/* gallery wrapper end*/

/* gallery items start*/
.gallery_items{
  float: left;
  width: 300px;
  margin-right: 25px;
  margin-bottom: 20px;
}
/* gallery items end*/

/* gallery thumbnail start*/
.gallery_items .gallery_thumbnail{
  width: 290px;
  height: 190px;
  padding: 5px;
  background-color: #EAEAEA;
  box-shadow: 3px 3px 3px #7C7C7C;
}
/* gallery thumbnail end*/

/* item title start*/
.gallery_items .item_title,
.portfolio_items .item_title{
  height: 35px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

.portfolio_items .item_title{
  color: #fff;
}
/* item title end*/

/* item read more start*/
.gallery_items .more,
.portfolio_items .more{
  width: 100px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #7C7C7C;
}

.portfolio_items .more{
  border-color: #fff;
}

.gallery_items .more a,
.gallery_items .more a:link,
.gallery_items .more a:visited{
  color: inherit;
}

.portfolio_items .more a,
.portfolio_items .more a:link,
.portfolio_items .more a:visited{
  color: #fff;
}

.gallery_items .more a:hover,
.portfolio_items .more a:hover{
  color: #E95144;
}
/* item read more end*/
/* gallery end */

/* portfolio start */
.portfolio_box{
  margin-right: -20px;
}

/* portfolio items start*/
.portfolio_items{
  float: left;
  width: 465px;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* portfolio items end*/

/* portfolio thumbnail start*/
.portfolio_items .portfolio_thumbnail{
  width: 455px;
  height: 290px;
  padding: 5px;
  background-color: #EAEAEA;
  box-shadow: 3px 3px 3px #7C7C7C;
  position: relative;
}
/* portfolio thumbnail end*/

/* cover start*/
.portfolio_items .portfolio_thumbnail .cover{
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 455px;
  height: 80px;
  background: url(images/cover.png) repeat-x;
}
/* cover end*/
/* portfolio end */

/* single start */
article.single{
  width: inherit;
}
/* single end*/

/* form setting start */
.ninja-forms-required-items{
  display: none;
}

#ninja_forms_form_1_response_msg{
  color: #8CC63F;
}

.ninja-forms-error-msg{
  display: none;
}

.send{
  float: right;
  padding: 5px 10px;
}

.send:hover{
  color: #E95144;
}

input,
textarea{
  background: #DBDBDB;
  outline: none;
  padding: 5px;
  border: 1px solid #A1A1A1;
}

textarea{
  resize: none;
}

address,
address p{
  font-style: normal;
}

#ninja_forms_field_1_label,
#ninja_forms_field_2_label,
#ninja_forms_field_3_label,
#ninja_forms_field_6_label{
  font-weight: normal;
}

.input-counter{
  display: none;
}
/* form setting end */